@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -400px; /* Initially hidden off-screen */
  width: 300px;
  height: 100%;
  background-color: rgb(39, 8, 215);
  border: 5px solid #f10707;
  border-radius: 20px;
  color: white;
  overflow: auto;
  transition: 0.5s;
  padding: 10px;
  z-index: 1000;
}

.sidebar.show {
  left: 0; /* Show the sidebar */
}

.sidebar .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

#feature-image {
  margin-top: 20px;
  max-width: 100%;
  display: none;
}
#info {
  margin-top: 20px;
}
#info a {
  color: white;      
  text-decoration: none; 
}

#info a:hover {
  text-decoration: underline;
}

.popup {
  position: absolute;
  background-color: rgb(39, 8, 215);
  padding: 5px;
  border: 1px solid #f10707;
  border-radius: 10px;
  display: none;
  z-index: 1000;
  color: rgb(255, 255, 255);
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
  z-index: 10; /* Ensures it's above the map */
}

/* Styles for the search input and button */
#location-input {
  padding: 10px;
  border: 2px solid #007BFF;
  border-radius: 20px 0 0 20px; /* Rounded left corners */
  outline: none;
  width: 300px;
}

#search-button {
  padding: 10px 15px;
  border: 2px solid #007BFF;
  border-left: none; /* Remove left border */
  border-radius: 0 20px 20px 0; /* Rounded right corners */
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

#search-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Style for the location dropdown */
#location-dropdown {
  position: absolute;
  top: 100%; /* Positions directly below the search bar */
  left: 48%; /* Centers the dropdown */
  transform: translateX(-50%); /* Adjusts for the exact center */
  width: 300px; /* Same width as the search input */
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 2px solid #007BFF; /* Matches the input and button border */
  border-radius: 0 0 20px 20px; /* Rounded bottom corners */
  box-sizing: border-box;
  z-index: 100;
  display: none; /* Hidden by default */
}

/* Style for each dropdown item */
.dropdown-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  background-color: white;
  border-radius: 10px; /* Rounded corners for each item */
}

.dropdown-item:hover {
  background-color: #f0f0f0; /* Hover effect */
}
